<header>
    <div class="carousel">
        <div ng-repeat="slide in slides"ng-style="{'background': 'url({{slide}})', 'height': '100vh', 'width': '100%', 'background-position': 'center', 'background-size': 'cover'}"></div>
    </div>
    <div id="canvas">
        <navbar>
            <div id="logo">HOME</div>
            <div>ABOUT</div>
            <div>PROJECTS</div>
            <div>CONTACT</div>
        </navbar>
        <h1>
            TAYLOR AGUIRRE
        </h1>
        <p>
            PHOTOGRAPHY
        </p>
    </div>
</header>
